@import "../../style/variables.scss";

.confirm_order {
  color: $color-text;
  background-color: $color-base;
  width: 100%;
  max-width: 400px;
  text-align: center;
  border-radius: 10px;
  margin: 0 auto auto auto;
}

.confirm_button {
  background-color: $color-principal;
  color: $color-base;
  line-height: 3em;
  font-size: 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  outline: none;
  width: 100%;
}
.confirm_button:hover {
  opacity: 0.5;
}
.confirm_button:active {
  opacity: 1;
}
.confirm_details {
  padding: 2em;
}
.confirm_button:disabled {
  opacity: 0.5;
  cursor: default;
}
